<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + WCC</title>
    <script src="../components/greeting.js"></script>
  </head>
	<body>
		<h1>Astro + WCC</h1>
    <x-greeting></x-greeting>
    <x-greeting name="WCC"></x-greeting>
	</body>
</html>
